<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Chat App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="align-content: center">
        <h1>Enter name to join chat</h1>
</div>
<div class="container" style="width: 300px">

     <input class="btn btn-primary" type="submit" id="submit" value="Join Chat" style="float: right">
     <form>
          <div style="overflow: hidden; padding-right: .5em;">
      <input type="text" class="form-control" id="user" style="width: 100%">
          </div>
     </form>
</div>
<!DOCTYPE html>
</body>
</html>

<script>
    var username

    function myFunction() {
        username = document.getElementById('user').value
        console.log("Username: " + username)
    }

	document.getElementById('submit').onclick = function(){
        username = document.getElementById('user').value
        console.log("Username: " + username)
        location.replace("http://127.0.0.1:5000/chat" + "?id="+username)
    }
</script>