<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
</head>
<body>

<div class="message_holder"></div>

<form action="" method="POST">
    <input type="text" class="username" placeholder="User Name"/>
    <input type="text" class="message" placeholder="Messages"/>
    <input type="submit"/>
</form>
</body>
</html>

<script>
    let socket = io.connect('http://' + document.domain + ':' + location.port);


    document.getElementById('submit').onclick = function () {
        username = document.getElementById('username').value
        console.log("Username: " + username)
        location.replace("http://127.0.0.1:5000/chat" + "?id=" + username)
    }

    socket.emit('my event', {
        user_name: "test1",
        message: "test2"
    })

    socket.on('my response', function (msg) {
        console.log(msg)

    })
</script>